<div class="main-box-white">

    <c-row>
        <c-col xs="12" lg="12">

            <c-card class="mb-4">
                <c-card-header>

                    <c-row class="align-items-center">
                        <c-col sm="5">
                            <h4 class="card-title mb-0" id="traffic"><b>ASN Approval</b></h4>
                            <div class="small text-body-secondary">January 2025 - June 2025</div>
                        </c-col>
                        <c-col class="d-none d-md-block" sm="7">
                            <button cButton class="btn btn-primary ng-star-inserted float-end" color="primary"
                                aria-label="Download">
                                <svg cIcon name="cilCloudDownload"></svg> Export
                            </button>

                        </c-col>
                    </c-row>
                    <hr>
                    <c-row>
                        <c-col sm="2">
                            <div class="mb-3">
                                <label clabel="" for="exampleFormControlInput1" class="form-label">From Date</label>
                                <!-- <input cformcontrol="" id="exampleFormControlInput1" placeholder="name@example.com"
                                    type="email" class="form-control"> -->
                                <div class="input-group mb-3">
                                    <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                        cformcontrol="" placeholder="Date" type="text" class="form-control">
                                    <span cinputgrouptext="" id="basic-addon2" class="input-group-text"><a href="#"><svg
                                                cIcon name="cilCalendar"></svg></a></span>
                                </div>
                            </div>
                        </c-col>
                        <c-col sm="2">
                            <div class="mb-3">
                                <label clabel="" for="exampleFormControlInput1" class="form-label">To Date</label>
                                <!-- <input cformcontrol="" id="exampleFormControlInput1" placeholder="name@example.com"
                                    type="email" class="form-control"> -->
                                <div class="input-group mb-3">
                                    <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                        cformcontrol="" placeholder="Date" type="text" class="form-control">
                                    <span cinputgrouptext="" id="basic-addon2" class="input-group-text"><a href="#"><svg
                                                cIcon name="cilCalendar"></svg></a></span>
                                </div>
                            </div>
                        </c-col>
                        <c-col sm="2">
                            <div class="mb-3">
                                <label clabel="" for="exampleFormControlInput1" class="form-label">Status</label>
                                <div class="input-group mb-3">
                                    <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                        cformcontrol="" placeholder="Open" type="text" class="form-control">
                                </div>
                            </div>
                        </c-col>
                        <c-col sm="2">
                            <div class="mb-3">
                                <label clabel="" for="exampleFormControlInput1" class="form-label">Supplier From</label>
                                <div class="input-group mb-3">
                                    <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                        cformcontrol="" placeholder="" type="text" class="form-control">

                                </div>
                            </div>
                        </c-col>
                        <c-col sm="2">
                            <div class="mb-3">
                                <label clabel="" for="exampleFormControlInput1" class="form-label">Supplier To</label>
                                <div class="input-group mb-3">
                                    <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                        cformcontrol="" placeholder="" type="text" class="form-control">
                                </div>
                            </div>
                        </c-col>
                        <c-col sm="2">
                            <div class="mb-3">
                                <label clabel="" for="exampleFormControlInput1" class="form-label">Search</label>
                                <div class="input-group mb-3">
                                    <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                        cformcontrol="" placeholder="Search" type="text" class="form-control">
                                    <span cinputgrouptext="" id="basic-addon2" class="input-group-text"><a href="#"><svg
                                                cIcon name="cilSearch"></svg></a></span>
                                </div>
                            </div>
                        </c-col>
                    </c-row>

                </c-card-header>
                <!-- <svg cIcon name="cilPeople"></svg> -->
                <c-card-body>
                    <div class="table-responsive">
                        <table class="table mb-0 border align-middle table-hover table-striped">
                            <thead class="text-nowrap text-truncate bg-body-tertiary">
                                <tr class="text-center">
                                    <th>Action</th>
                                    <th class="text-start">Supplier</th>
                                    <th>Invoice No</th>
                                    <th>Invoice Date</th>
                                    <th>ASN</th>
                                    <th>Inbound</th>
                                    <th>Approved by</th>
                                    <th>ASN Post Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>

                                        <div>Yiorgos Avraamu</div>

                                    </td>
                                    <td>


                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>

                                        </div>

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>

                                        <div>Yiorgos Avraamu</div>

                                    </td>
                                    <td>


                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>

                                        </div>

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>

                                        <div>Yiorgos Avraamu</div>

                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>
                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>
                                        <div>Yiorgos Avraamu</div>
                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>
                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>
                                        <div>Yiorgos Avraamu</div>
                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>
                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>
                                        <div>Yiorgos Avraamu</div>
                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>
                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>
                                        <div>Yiorgos Avraamu</div>
                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>
                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>
                                        <div>Yiorgos Avraamu</div>
                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>

                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>
                                        <div>Yiorgos Avraamu</div>
                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>

                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center w1">
                                        <button class="btn btn-outline-info"><svg cIcon
                                                name="cilThumbUp"></svg></button>&nbsp;
                                        <button class="btn btn-outline-warning"><svg cIcon
                                                name="cilSearch"></svg></button>&nbsp;
                                        <button class="btn btn-outline-danger"><svg cIcon
                                                name="cilCloudDownload"></svg></button>&nbsp;
                                        <button class="btn btn-outline-success"><svg cIcon
                                                name="cilFile"></svg></button>&nbsp;
                                    </td>
                                    <td>
                                        <div>Yiorgos Avraamu</div>
                                    </td>
                                    <td>
                                        <div class="small text-secondary">9930</div>
                                    </td>
                                    <td class="text-center">
                                        <div>01-Jul-2025</div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <strong>FY2457y78</strong>

                                        </div>
                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">

                                    </td>
                                    <td class="text-center">
                                        <div>10-Jul-2025</div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                      
                    </div>  
                    <hr>
                    <c-pagination aria-label="Page navigation example" role="navigation">
                            <ul class="pagination">
                                <c-page-item aria-label="Previous" class="page-item disabled">
                                    <a cpagelink="" class="page-link" aria-disabled="true" tabindex="-1"
                                        href="#"><span aria-hidden="true">«</span></a>
                                </c-page-item>
                                <c-page-item class="page-item active" aria-current="page">
                                    <a cpagelink="" class="page-link" href="#">1</a>
                                </c-page-item>
                                <c-page-item class="page-item">
                                    <a cpagelink="" class="page-link" href="#">2</a>
                                </c-page-item>
                                <c-page-item class="page-item">
                                    <a cpagelink="" class="page-link" href="#">3</a>
                                </c-page-item>
                                <c-page-item aria-label="Next" class="page-item">
                                    <a cpagelink="" class="page-link" href="#"><span
                                            aria-hidden="true">»</span></a>
                                </c-page-item>
                            </ul>
                        </c-pagination>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</div>